# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project stuff
antlr4_runtime
vcpkg_installed
*.db
*.log

# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
DartConfiguration.tcl

# Conan stuff
graph_info.json
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
CPackConfig.cmake
CPackSourceConfig.cmake

# ANTLR4
antlr4/antlr4
antlr4/runtime
antlr4/source

# MurmurHash
murmurhash/libmurmurhash

# Project ignores
bin/
builds/
*.zip
*.zip
antlr_generated/
test_logs.txt
GPATH
GRTAGS
GTAGS
antlr4/package
antlr.jar

# Graphviz
potatodb.dot*
build.ninja
.ninja_deps
.ninja_log